body {
  margin: 0;
  background: white;
  font-family: Arial, sans-serif;
  text-align: center;
}

.grid {
  position: relative;
  width: 100vw;
  height: 100vh;
}

.anim {
  width: 180px;
  position: absolute;
}

/* 2 animations en haut (gauche et droite) */
#animation1 {
  top: 20px;
  left: 20px;
}

#animation2 {
  top: 20px;
  right: 20px;
}

/* 1 animation en bas à gauche */
#animation3 {
  bottom: 20px;
  left: 20px;
}
